<form
  #userForm="ngForm"
  (ngSubmit)="login()"
  class="h-full md:flex justify-center px-20 bg-white gap-10"
>
  <div class="h-auto w-3/5" id="bg_image"></div>
  <div
    class="bg-white justify-center my-10 rounded w-1/4 flex flex-col gap-3 shadow-sm drop-shadow-md"
  >
    <div class="text-center">
      <i class="material-icons text-5xl text-blue-950 bg-white">person</i>
      <div class="text-2xl my-2 font-medium">Login</div>
    </div>
    <div class="w-fill px-4">
      <mat-form-field class="w-full" apperance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          name="email"
          [(ngModel)]="email"
          #emailModel="ngModel"
          placeholder="Email"
        />

        @if(emailModel.errors?.['required']){
        <mat-error>O email é obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full" apperance="fill">
        <mat-label>Senha</mat-label>
        <input
          matInput
          required
          [type]="hide() ? 'password' : 'text'"
          name="password"
          [(ngModel)]="password"
          #passwordModel="ngModel"
          placeholder="Senha"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility($event)">
          {{ hide() ? "visibility_off" : "visibility" }}</mat-icon
        >

        @if(passwordModel.errors?.['required']){
        <mat-error>A senha é obrigatória</mat-error>
        }
      </mat-form-field>

      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="w-full bg-blue-900 text-white mb-5 rounded-md p-2"
      >
        Login
      </button>

      <p class="font-bold text-xs text-center pb-10">
        Não possui uma conta?
        <a [routerLink]="'/register'" class="text-blue-500 underline"
          >Registre-se</a
        >
      </p>
    </div>
  </div>
</form>
